body{
    background-color: rgb(166, 230, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin: 1em 1em;
    width: 100%;
    height: 100vh;
    margin-left: 111px;
}

fieldset{
    width: 20%;
    height: 70%;
    border-radius: 7px;
    background-color: rgb(174, 125, 221);

}

fieldset label{
    color: #070649e7;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px #070649e7;
    letter-spacing: 2px;
}

fieldset input{
    border: none;
    height: 33px;
    width: 100%;
    margin-top: 4px;
    transition: all .4s;

}

fieldset input:hover{
    top: 1em;
    margin-left: 3px;
    box-shadow: 1.4px 1.7px 8px rgb(231, 139, 139);
    
}

fieldset textarea:hover{
    top: 1em;
    margin-left: 3px;
    box-shadow: 1.4px 1.7px 8px rgb(231, 139, 139);
    border: none;
}

fieldset ::placeholder{
    color: rgba(0, 0, 244, 0.2);
    padding: 2px;

}

fieldset legend{
    
}

button{
    line-height: 21px;
    padding: 3px 4px;
    width: 71px;
    margin: 0 2px;
    border-radius: 3px;
    border: none;
    
}

