*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(190, 185, 185);
    width: 100;
    height: 100vh;
    display: grid;
        grid-template-areas: 
        "header header header header"
        "main main main aside"
        "main main main aside"
        "footer footer footer footer";
        grid-auto-rows: auto;
        grid-template-columns: repeat(4, 1fr);
    border-radius: 1rem;
}


header {
    grid-area: header;
    background-color: red;
}

main {
    grid-area: main;
    height: 111px;
    background-color: green;
}

aside {
    grid-area: aside;
    background-color: yellow;
}

footer {
    grid-area: footer;
    background-color: purple;
}